/*
| Styles for header section 
*/
header {
    background-color: #fff;
    padding: 0 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #CCCCCC;
}
header .logo {
    background: url(../images/logo.png) no-repeat center;
    display: block;
    height: 60px;
    width: 162px;
}